body {
  color: blue;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white; 
  background: url(http://image.shutterstock.com/z/stock-vector-flags-of-the-world-bunting-on-cloud-background-with-space-for-your-text-eps-vector-format-109619540.jpg);
  background-repeat: no-repeat;

input {
  display: block;
  width: 30%;
  font-size: 2em;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  left: 35%;
}

@media all and (max-width: 600px) {
  input {
    width: 100%;
    left: 0;
    top: 0;
  }
}
